.grid {
  --rdg-border-color: #000000;

  overscroll-behavior: none;

  border: 0;

  font-size: 0.8rem;

  [role='columnheader'] {
    font-size: 0.6rem;
  }

  [role='columnheader']:last-child,
  [role='gridcell']:last-child {
    border-right: 0;
  }

  [role='row']:last-child > [role='gridcell'] {
    border-bottom: 0;
  }
}
